<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All users</title>
    <style>
        table,th,tr,td {
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <form method="get" action="/user/add"><button>Add new user</button></form>
    <table>
        <tr>
            <th>id</th>
            <th>user</th>
            <th>email</th>

        </tr>
        <tr>
            <td>123</td>
            <td>wasi</td>
            <td>wasi@gmail.com</td>
        </tr>
        
            <% for(user of users){%>
                
                <tr>
                <td><%=user.id%></td>
                <td><%=user.user%></td>
                <td><%=user.email%></td>
                 <td>
                    <form method="get" action="/user/<%=user.id%>/edit">
                        <button>Edit</button>
                    </form>
                 </td>
                 <td>
                    <form method="get" action="/user/<%=user.id%>/delete">
                        <button>delete</button>
                    </form>
                 </td>
                </tr>
            <%}%>
        
    </table>
</body>
</html>